/* use normalize css to reset basic layout setting. different basic layout
every browser */

/* for inline block, -4 margin right to 
delete extra space caused by tabs/spaces in html  */

/* base styles */
* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-size: 1.25em; /* 16px default, 20px */
}


/* main styles */


/* media queries */

    /* @media screen and min-width */
